@-moz-document url(chrome://browser/content/browser.xul)
{

  /* v1.01 - uBlock compatibility */
 
  /* tab document render area BG */
  browser[type="content-primary"], tabbrowser tabpanels, #appcontent > #content
  {
    background: #1B1B1B url("chrome://global/skin/media/imagedoc-darknoise.png") repeat fixed !important;
  }
}

@-moz-document url(about:blank),
               url(about:newtab)
{
  #newtab-window,
  html
  {
    background: #1B1B1B url("chrome://global/skin/media/imagedoc-darknoise.png") repeat fixed;
  }
}

@-moz-document url(chrome://browser/content/browser.xul)
{
   #main-window,
   browser[type="content-primary"],
   browser[type="content"],
   tabbrowser#content,
   #content,
   browser[type="content"] > html
   {
      background: #323234 !important;
   }
}
